/* -----------------GENERAL------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------COMMON------------------*/
.container {
  width: 70%;
  margin: 0 auto;
}
/* -----------------HEADER------------------*/
header {
  text-align: center;
  background-color: aqua;
  margin-bottom: 10px;
}

h1 {
  padding: 20px;
}

p {
  padding: 20px 0;
}
/* -----------------MAIN------------------*/
.team {
  /* background-color: red; */
}
.team-member {
  float: left;
  width: calc(100% / 3 - 20px);
  background-color: black;
  padding: 10px;
  margin: 10px;
  color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

div.container {
  margin-top: 20px;
}

.image,
.text-img {
  float: left;
  width: 50%;
}

img {
  display: block;
}
