/* -----------------GENERAL------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------COMMON------------------*/
.container {
  width: 70%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: "Fredoka", sans-serif;
}

/* -----------------HEADER------------------*/
header {
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  padding: 20px;
  color: #e53170;
}

p {
  padding: 20px 0;
}

/* -----------------MAIN------------------*/

.team-member {
  float: left;
  width: calc(100% / 3 - 20px);
  background-color: black;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

div.container {
  margin-top: 20px;
}

.image,
.text-img {
  float: left;
  /* width: 50%; */
}

img {
  display: block;
  height: 70px;
}

.text-img {
  color: white;
  font-size: 10px;
  padding: 7px;
}

.text-img > .mail {
  color: #4dccf2;
}

.text-img > h2,
.text-img > .job {
  margin-bottom: 5px;
}
